#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* ---pop over-- */

.popover-container {
  position: relative;
}

.popover-content {
  background-color: #fff;
}

.popover-content {
  background-color: #000000;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -17%;
  border-radius: 16px;
  transform: translateX(64%);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popover-content.show {
  opacity: 1;
  visibility: visible;
}

.popover-content.hide {
  opacity: 0;
  visibility: hidden;
}